AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
BreakBeforeBinaryOperators: true
BreakBeforeBraces: Linux
IndentWidth: 4
SortIncludes: true
NamespaceIndentation: All
ColumnLimit: 120
